# Connect Access Dabase

1. Download ```baseballdatabank-master.zip``` (https://datatofish.com/how-to-connect-python-to-ms-access-database-using-pyodbc)
2. Unzip ```lahman_2019.mdb``` from baseballdatabank-master.zip
3. Put ```lahman_2019.mdb``` into data subfolder
4. Install ```AccessDatabaseEngine_X64.exe``` (https://www.microsoft.com/en-US/download/details.aspx?id=13255)
5. Check that ```['Microsoft Access Driver (*.mdb, *.accdb)']``` is installed in Python code in next cell

In [4]:
import pyodbc

[x for x in pyodbc.drivers()]

['SQL Server',
 'SQL Server Native Client 11.0',
 'ODBC Driver 17 for SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Text Driver (*.txt, *.csv)']

In [5]:
import pyodbc

conn_str = r'Driver={Microsoft Access Driver (*.mdb, *.accdb)};DBQ=.\data\lahman_2019.mdb;'
conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
cursor.execute('SELECT TOP 10 * from Batting')
   
for row in cursor.fetchall():
    print (row)

('aardsda01', 2004, 1, 'SFN', 'NL', 11, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2006, 1, 'CHN', 'NL', 45, None, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, None)
('aardsda01', 2007, 1, 'CHA', 'AL', 25, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2008, 1, 'BOS', 'AL', 47, None, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, None)
('aardsda01', 2009, 1, 'SEA', 'AL', 73, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2010, 1, 'SEA', 'AL', 53, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2012, 1, 'NYA', 'AL', 1, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2013, 1, 'NYN', 'NL', 43, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None)
('aardsda01', 2015, 1, 'ATL', 'NL', 33, None, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, None)
('aaronha01', 1954, 1, 'ML1', 'NL', 122, None, 468, 58, 131, 27, 6, 13, 69, 2, 2, 28, 39, None, 3, 6, 4, 13, None)