# AdventureWorks

## Quickstart: Use Python to query a database in Azure SQL Database or Azure SQL Managed Instance
https://docs.microsoft.com/en-us/azure/azure-sql/database/connect-query-python?tabs=windows

Download and intall Microsoft ODBC Driver 17 for SQL Server (x64):
https://docs.microsoft.com/en-us/sql/connect/odbc/download-odbc-driver-for-sql-server?view=sql-server-ver15#download-for-windows

```

conda install -c anaconda pyodbc
```

* Server: mhknbn2kdz.database.windows.net 
* Database: AdventureWorks2012
* User: sqlfamily
* Password: sqlf@m1ly

In [4]:
import pyodbc

server = 'mhknbn2kdz.database.windows.net'  # sever
database = 'AdventureWorks2012'             # database
username = 'sqlfamily'                      # username
password = 'sqlf@m1ly'                      # password
driver= '{ODBC Driver 17 for SQL Server}'
cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT=1433;DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

cursor.execute("SELECT name, database_id, create_date FROM sys.databases;")
row = cursor.fetchone()
while row:
    print (str(row[0]) + " " + str(row[1]))
    row = cursor.fetchone()
    
print()

cursor.execute("USE AdventureWorks2012;")
sql = "SELECT TOP 10 LastName, FirstName FROM Person.Person"
cursor.execute(sql)
results = cursor.fetchall()
for row in results:
    print(row[0], row[1])

master 1
AdventureWorks2012 5

Abbas Syed
Abel Catherine
Abercrombie Kim
Abercrombie Kim
Abercrombie Kim
Abolrous Hazem
Abolrous Sam
Acevedo Humberto
Achong Gustavo
Ackerman Pilar