# Accessing Azure MySQL Database

This example shows the code for accessing a MySQL database on Azure. The host, user, and password used here are temporary.
If this MySQL database is taken down then you need to set up your own:

1. Download ```lahman-mysql-dump.sql``` "2019 â€“ MySQL version " (http://www.seanlahman.com/baseball-archive/statistics)
2. Replace the string ```utf8mb4_0900_ai_ci``` and replaced it with ```utf8mb4_general_ci``` in ```lahman-mysql-dump.sql```
3. Create an Azure Database for MySQL database on your Azure account using appropriate firewall settings for IPs.
4. In MySQL Workbench, connect to your MySql server.
5. In MySQL Workbench -> Server > Data Import > Import from Self-Contained File
6. Select the ```lahman-mysql-dump.sql``` file -> Click Start Import button.
7. Test it out in MySQL Workbench:
    ```
    USE `lahmansbaseballdb`;
    SELECT p.nameFirst, p.nameLast, b.HR, t.name AS team, b.yearID
    FROM batting b
        JOIN people p ON p.playerID = b.playerID
        JOIN teams t ON t.ID = b.team_ID
    WHERE b.YearID = 1977
    ORDER BY b.HR DESC
    LIMIT 5;
    ```

## Now lets access it in Python

* You need to run ```conda install -c anaconda pyodbc```

In [8]:
# conda install -c anaconda pyodbc

import mysql.connector as mysql

cnx = mysql.connect(
    host="mysqllahmansbaseball.mysql.database.azure.com", # this server will not remain available in the long term
    user="newuser@mysqllahmansbaseball",                  # this user name will not remain available in the long term
    password="Pa$$w0rd",                                  # this password will not remain available in the long term
    port=3306,
    database="lahmansbaseballdb")
print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022052743948>

In [9]:
cursor = cnx.cursor()
sql = "SELECT * FROM Batting LIMIT 10"
cursor.execute(sql)
results = cursor.fetchall()
for x in results:
    print(x)

(1, 'abercda01', 1871, 1, 'TRO', 8, 'NA', 1, None, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, None, None, None, None, 0)
(2, 'addybo01', 1871, 1, 'RC1', 7, 'NA', 25, None, 118, 30, 32, 6, 0, 0, 13, 8, 1, 4, 0, None, None, None, None, 0)
(3, 'allisar01', 1871, 1, 'CL1', 3, 'NA', 29, None, 137, 28, 40, 4, 5, 0, 19, 3, 1, 2, 5, None, None, None, None, 1)
(4, 'allisdo01', 1871, 1, 'WS3', 9, 'NA', 27, None, 133, 28, 44, 10, 2, 2, 27, 1, 1, 0, 2, None, None, None, None, 0)
(5, 'ansonca01', 1871, 1, 'RC1', 7, 'NA', 25, None, 120, 29, 39, 11, 3, 0, 16, 6, 2, 2, 1, None, None, None, None, 0)
(6, 'armstbo01', 1871, 1, 'FW1', 4, 'NA', 12, None, 49, 9, 11, 2, 1, 0, 5, 0, 1, 0, 1, None, None, None, None, 0)
(7, 'barkeal01', 1871, 1, 'RC1', 7, 'NA', 1, None, 4, 0, 1, 0, 0, 0, 2, 0, 0, 1, 0, None, None, None, None, 0)
(8, 'barnero01', 1871, 1, 'BS1', 1, 'NA', 31, None, 157, 66, 63, 10, 9, 0, 34, 11, 6, 13, 1, None, None, None, None, 1)
(9, 'barrebi01', 1871, 1, 'FW1', 4, 'NA', 1, None, 5, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, None, None, None, None, 0)
(10, 'barrofr01', 1871, 1, 'BS1', 1, 'NA', 18, None, 86, 13, 13, 2, 1, 0, 11, 1, 0, 0, 0, None, None, None, None, 0)