In [1]:
# See: https://medium.com/@tattwei46/how-to-use-python-with-mysql-79304bee8753
# Install local instance of MySQL
# conda install -c anaconda mysql-connector-python

import mysql.connector as mysql

In [2]:
# Connect to MySql
mydb = mysql.connect(
  host="localhost",
  user="admin",
  password="mysqlPa$$w0rd"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D94072C388>

In [3]:
# Create Database
mycursor = mydb.cursor()
mycursor.execute("DROP DATABASE IF EXISTS mydatabase") # in case you run these cells twice
mycursor.execute("CREATE DATABASE mydatabase")
mycursor.execute("USE mydatabase")

In [4]:
# Create Table
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), address VARCHAR(255))")

In [5]:
# Add records into table
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("David", "California")
mycursor.execute(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")
sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
    ("Lily", "California"),
    ("David", "San Francisco"),
    ("Micheal", "Las Vegas"),
    ("Sarah", "New York")
]
mycursor.executemany(sql, val)
mydb.commit()
print(mycursor.rowcount, "record(s) inserted.")

1 record(s) inserted.
4 record(s) inserted.

In [6]:
# Select record from table
sql = "SELECT * FROM customers"
mycursor.execute(sql)
myresult = mycursor.fetchall()
for x in myresult:
    print(x)

(1, 'David', 'California')
(2, 'Lily', 'California')
(3, 'David', 'San Francisco')
(4, 'Micheal', 'Las Vegas')
(5, 'Sarah', 'New York')

In [7]:
mycursor.close()
mydb.close()