# Pandas

* [Pandas Docs](https://pandas.pydata.org)
* [Getting Started Tutorials](https://pandas.pydata.org/docs/getting_started/intro_tutorials)
* The community agreed alias for ```pandas``` is ```pd```
* Import the Pandas package: ```import pandas as pd```
* The ```DataFrame``` represents a 2D table data structure
* Each column in a ```DataFrame``` is a ```Series```
* The ```Series``` represents a 1D ```ndarray``` with axis labels

In [20]:
import pandas as pd

df = pd.DataFrame({
    "Name": ["Braund, Mr. Owen Harris",
    "Allen, Mr. William Henry",
    "Bonnell, Miss. Elizabeth"],
    "Age": [22, 35, 58],
    "Sex": ["male", "male", "female"]}
    )
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [21]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [23]:
df["Age"].max()

58

In [22]:
products = pd.DataFrame({'Product ID': [4109,1412,8931], 'Price': [5.0,0.5,1.5], 'Product': ['Sushi Roll','Egg','Bagel']})
invoices = pd.DataFrame({'Customer': ['Ali','Eric','Ande','Sam'], 'Product ID': [4109,1412,8931,4109], 'Quantity': [1,12,6,2]})
print(products)
print(invoices)
print(pd.merge(products, invoices, how='inner'))

   Product ID  Price     Product
0        4109    5.0  Sushi Roll
1        1412    0.5         Egg
2        8931    1.5       Bagel
  Customer  Product ID  Quantity
0      Ali        4109         1
1     Eric        1412        12
2     Ande        8931         6
3      Sam        4109         2
   Product ID  Price     Product Customer  Quantity
0        4109    5.0  Sushi Roll      Ali         1
1        4109    5.0  Sushi Roll      Sam         2
2        1412    0.5         Egg     Eric        12
3        8931    1.5       Bagel     Ande         6