# SQLite with Pandas

See: https://pythonspot.com/sqlite-database-with-pandas/

## Create SQLite Dataset

In [1]:
import sqlite3

con = sqlite3.connect('data/population.db') # *** only run one time... will error out second time
 
with con:
    cur = con.cursor()    
    cur.execute("CREATE TABLE Population(id INTEGER PRIMARY KEY, country TEXT, population INT)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Germany',81197537)")
    cur.execute("INSERT INTO Population VALUES(NULL,'France', 66415161)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Italy', 60795612)")
    cur.execute("INSERT INTO Population VALUES(NULL,'Spain', 46439864)")

## Querying the SQLite Database

In [4]:
import pandas as pd

conn = sqlite3.connect('data/population.db')
query = "SELECT country FROM Population WHERE population > 50000000;"

df = pd.read_sql_query(query, conn)

for country in df['country']:
    print(country)
    
df.head()

Germany
France
Italy

   country
0  Germany
1   France
2    Italy

## Sqlite to Python Panda Dataframe

In [5]:
conn = sqlite3.connect('data/population.db')
query = "SELECT country FROM Population WHERE population > 50000000;"

df = pd.read_sql_query(query,conn)

for country in df['country']:
    print(country)

Germany
France
Italy

In [6]:
conn = sqlite3.connect('data/population.db')
df = pd.read_sql_query(query,conn)
df.head()

   country
0  Germany
1   France
2    Italy