In [7]:
import mysql.connector as mysql
cnx = mysql.connect(
    host="mysqllahmansbaseball.mysql.database.azure.com", # this server will not remain available in the long term
    user="newuser@mysqllahmansbaseball",                  # this user name will not remain available in the long term
    password="Pa$$w0rd",                                  # this password will not remain available in the long term
    port=3306,
    ssl_disabled=True,
    database="lahmansbaseballdb")

In [2]:
sql = """
SELECT p.nameFirst,p.nameLast,p.birthYear,p.birthMonth,p.birthDay,p.birthCountry,p.deathYear,
p.deathMonth,p.deathDay,p.weight,p.height,p.bats,p.throws,p.finalGame,b.yearID,b.stint,b.teamID,b.lgID,b.G,b.AB,b.R,b.H,b.2B,b.3B,b.HR,b.RBI,b.SB,b.CS,b.BB,b.SO,b.IBB,b.HBP,b.SH,b.SF,b.GIDP,a.GP
FROM people p
    JOIN batting b
    ON p.playerID = b.playerID
    JOIN allstarfull a
    ON p.playerID = a.playerID
    ORDER BY b.HR DESC;
"""
cursor = cnx.cursor()
cursor.execute(sql)
results = cursor.fetchall()

In [24]:
import pandas as pd

df = pd.DataFrame(results, columns = ["nameFirst","nameLast","birthYear","birthMonth","birthDay","birthCountry","deathYear",
"deathMonth","deathDay","weight","height","bats","throws","finalGame","yearID","stint","teamID","lgID","G","AB","R","H","2B","3B","HR","RBI","SB","CS","BB","SO","IBB","HBP","SH","SF","GIDP","GP"])
df.head()

,nameFirst,nameLast,birthYear,birthMonth,birthDay,birthCountry,deathYear,deathMonth,deathDay,weight,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,GP
0,Barry,Bonds,1964,7,24,USA,NaN,NaN,NaN,185,...,13,3.0,177,93,35.0,9,0,2.0,5.0,1
1,Barry,Bonds,1964,7,24,USA,NaN,NaN,NaN,185,...,13,3.0,177,93,35.0,9,0,2.0,5.0,1
2,Barry,Bonds,1964,7,24,USA,NaN,NaN,NaN,185,...,13,3.0,177,93,35.0,9,0,2.0,5.0,1
3,Barry,Bonds,1964,7,24,USA,NaN,NaN,NaN,185,...,13,3.0,177,93,35.0,9,0,2.0,5.0,1
4,Barry,Bonds,1964,7,24,USA,NaN,NaN,NaN,185,...,13,3.0,177,93,35.0,9,0,2.0,5.0,1

In [17]:
birthDays = pd.to_datetime(dict(year=df.birthYear, month=df.birthMonth, day=df.birthDay))
birthDays.head()

0   1964-07-24
1   1964-07-24
2   1964-07-24
3   1964-07-24
4   1964-07-24
dtype: datetime64[ns]

In [20]:
deathDays = pd.to_datetime(dict(year=df.deathYear, month=df.deathMonth, day=df.deathDay))
deathDays.head() # For datetime64[ns] types, NaT represents missing values.

0   NaT
1   NaT
2   NaT
3   NaT
4   NaT
dtype: datetime64[ns]

In [9]:
x_0 = pd.DataFrame(x,columns=["nameFirst", "nameLast","finalGame"])
x_0.head()

  nameFirst nameLast   finalGame
0     Barry    Bonds  2007-09-26
1     Barry    Bonds  2007-09-26
2     Barry    Bonds  2007-09-26
3     Barry    Bonds  2007-09-26
4     Barry    Bonds  2007-09-26

In [10]:
# Death(YYYY,MM,DD) and Birth(YYYY,MM,DD) -> usable format to calculate age

#print(x_0.isnull().values.any())

print(type([p.birthday]))

NameError: name 'p' is not defined

In [ ]:
import datetime
Age = (pd.datetime.date()) - pd.to_datetime(x["p.deathYear","p.deathMonth","p.deathDay"])
print(Age)
"""
if ISNULL(deathYear):
    Age = (pd.datetime.now().date()) -x["p.deathYear","p.deathMonth","p.deathDay"]
else:
    deathYear-birthYear