# SQL

* xxx

## MySQL Keywords

* ```ADD``` Adds column to table
* ```ADD CONSTRAINT``` Adds constraint to table
* ```ALTER``` Adds, deletes, or modifies column value or data type in table
* ```ALTER COLUMN``` Changes data type of column in table
* ```ALTER TABLE``` Adds, deletes, or modifies columns in table
* ```ALL``` Returns true if all subquery values meet condition
* ```AND``` Only includes rows where both conditions true
* ```ANY``` Returns true if any subquery values meet condition
* ```AS``` Renames column or table with alias
* ```ASC``` Sorts result set in ascending order
* ```BACKUP DATABASE``` Creates back up of database
* ```BETWEEN``` Selects values within a range
* ```CASE``` Creates different outputs based on conditions
* ```CHECK``` Sets constraint to limit values in column
* ```COLUMN``` Changes data type of column or deletes column
* ```CONSTRAINT``` Adds or deletes constraint
* ```CREATE```Creates database, index, view, table, or procedure
* ```CREATE DATABASE``` Creates SQL database
* ```CREATE INDEX``` Creates index on table (allows duplicates)
* ```CREATE OR REPLACE VIEW``` Updates view
* ```CREATE TABLE``` Creates table in database
* ```CREATE PROCEDURE``` Creates stored procedure
* ```CREATE UNIQUE INDEX``` Creates unique index on table (no duplicates)
* ```CREATE VIEW``` Creates view based on result set of SELECT statement
* ```DATABASE``` Creates or deletes database
* ```DEFAULT``` Provides default value for column
* ```DELETE``` Deletes rows from table
* ```DESC``` Sort result set in descending order
* ```DISTINCT``` Select only distinct values
* ```DROP``` Deletes column, constraint, database, index, table, or view
* ```DROP COLUMN``` Delete column in table
* ```DROP CONSTRAINT``` Deletes UNIQUE, PRIMARY KEY, FOREIGN KEY, or CHECK
* ```DROP DATABASE``` Deletes SQL database
* ```DROP DEFAULT``` Deletes DEFAULT constraint
* ```DROP INDEX``` Deletes index in table
* ```DROP TABLE``` Deletes table
* ```DROP VIEW``` Deletes view
* ```EXEC``` Executes stored procedure
* ```EXISTS``` Tests for existence of any record in subquery
* ```FOREIGN KEY``` Constraint on key used to relate two tables
* ```FROM``` Specifies table to select or delete data
* ```FULL OUTER JOIN``` Returns all rows where left or right tables match
* ```GROUP BY``` Groups result set (COUNT, MAX, MIN, SUM, AVG)
* ```HAVING``` Like WHERE but used with aggregate functions (COUNT, MAX, etc.)
* ```IN``` Can specify multiple values in WHERE clause
* ```INDEX``` Creates or deletes an index in table
* ```INNER JOIN``` Returns rows that match values in both tables
* ```INSERT INTO``` Inserts rows in table
* ```INSERT INTO SELECT``` Copies data from one table into another
* ```IS NULL``` Tests for empty values
* ```IS NOT NULL``` Tests for non-empty values
* ```JOIN``` Joins tables
* ```LEFT JOIN``` Returns all rows from left, and matching rows from right
* ```LIKE``` Searches for specified pattern in column
* ```LIMIT``` Specifies maximum number of records to return in result set
* ```NOT``` Only includes rows where condition not true
* ```NOT NULL``` Constraint enforces column to not accept NULLs
* ```OR``` Includes rows where either condition is true
* ```ORDER BY``` Sorts result set in ascending/descending order
* ```OUTER JOIN``` Returns all rows with match on left or right table
* ```PRIMARY KEY``` Uniquely identifies every record in table
* ```PROCEDURE``` A stored procedure
* ```RIGHT JOIN``` Returns all rows from right and matching rows from left
* ```ROWNUM``` Specifies number records to return in result set
* ```SELECT``` Selects data from database
* ```SELECT DISTINCT``` Selects only distinct values
* ```SELECT INTO``` Copies data from one table to new table
* ```SELECT TOP``` Specifies number of records to return in result set
* ```SET``` Specifies columns and values to be updated in table
* ```TABLE``` Creates table, modifies table, or deletes table
* ```TOP``` Specifies number of records to return in result set
* ```TRUNCATE TABLE``` Deletes data in table (not the actual table)
* ```UNION``` Combines result sets of b SELECT statements (distinct results)
* ```UNION ALL``` Combines result sets of b SELECT statements (all results)
* ```UNIQUE``` A constraint that ensures that all values in column are unique
* ```UPDATE``` Updates existing rows in table
* ```VALUES``` Specifies values of INSERT INTO statement
* ```VIEW``` Creates, updates, or deletes a view
* ```WHERE``` Filters result to include only records that match condition

## MySQL Functions

### MySQL String Functions

* xxx

### MySQL Numeric Functions

* xxx

### MySQL Date Functions

* xxx

### MySQL Advanced Functions

* xxx

## SQL Arithmetic Operators

### SQL Arithmetic Operators

* ```+``` Add
* ```-``` Subtract
* ```*``` Multiply
* ```/``` Divide
* ```%``` Modulo

### SQL Bitwise Operators

* ```&``` Bitwise AND
* ```|``` Bitwise OR
* ```^``` Bitwise exclusive OR

### SQL Comparison Operators

* ```=``` Equal to
* ```>``` Greater than
* ```<``` Less than
* ```>=``` Greater than or equal to
* ```<=``` Less than or equal to
* ```<>``` Not equal to

### SQL Compound Operators

* ```+=``` Add equals
* ```-=``` Subtract equals
* ```*=``` Multiply equals
* ```/=``` Divide equals
* ```%=``` Modulo equals
* ```&=``` Bitwise AND equals
* ```^-=``` Bitwise exclusive equals
* ```|*=``` Bitwise OR equals

### SQL Logical Operators

* ```ALL``` TRUE if all of the subquery values meet the condition	
* ```AND``` TRUE if all the conditions separated by AND is TRUE	
* ```ANY``` TRUE if any of the subquery values meet the condition	
* ```BETWEEN``` TRUE if the operand is within the range of comparisons	
* ```EXISTS``` TRUE if the subquery returns one or more records	
* ```IN``` TRUE if the operand is equal to one of a list of expressions	
* ```LIKE``` TRUE if the operand matches a pattern	
* ```NOT``` Displays a record if the condition(s) is NOT TRUE	
* ```OR``` TRUE if any of the conditions separated by OR is TRUE	
* ```SOME``` TRUE if any of the subquery values meet the condition

## Statement Examples

In [ ]:
SELECT * FROM Customers;